body {
  background-color: black;
  p.dotted {border-style: dotted;}
}

p {
  font-family: Tahoma;
  color: white;
  position: static;
  font-style: italic;
  margin-left: 20px;
}

h1 {
  font-family: Tahoma;
  color: Grey;
  position: static;
  text-align: center;
  margin-left: 20px;
}

h2 {
  font-family: Tahoma;
  color: white;
  position: static;
  font-style: italic;
  margin-left: 20px;
}

h3 {
  font-family: Tahoma;
  font-size: 30px;
  color: red;
  position: static;
  text-align: center;
  margin-left: 20px;
}

a:link { text-decoration: none;   color: white;  }
a:visited { text-decoration: none;   color: white;  }
a:hover { text-decoration: none;   color: white;  }
a:active { text-decoration: none;   color: white;  }